.divBody {
    position: relative; 
    margin-top: 0px; 
    margin-left: 4px; 
    margin-right: 4px; 
    min-height: 150px;
}
.pageBody {
    background: rgb(255, 255, 255); 
    position: relative; 
    margin-top: 0px; 
    margin-left: 4px; 
    margin-right: 4px; 
    min-height: 607.722px;
}